html,
body {
	padding: 0;
	margin: 0;
	/* background-color: #d7e4f5; */
	/* #edf2f7 */
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.outer-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	/* gap: 1.5rem; */

	padding: 0 8rem;
	margin: 4rem 0;
	gap: 1.5rem;
}

.menu-container {
	grid-column: span 3 / span 3;

	/* height: 100%; */

	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;

	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	border-radius: 1rem;
}

.main-container {
	grid-column: span 7 / span 7;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	border-radius: 1rem;
}

input {
	background-color: white;
	color: black;
}

button {
	background-color: #f1f1f1;
	color: black;
}

[data-theme="light"] body {
	--color-text-primary: #27201a;
	--color-text-secondary: #076963;
	--color-bg-primary: #fff;
	--color-bg-toggle: white;
}

[data-theme="dark"] body {
	--color-text-primary: #e3e3e3;
	--color-text-secondary: #ff6b00;
	--color-bg-primary: #15232d;
	--color-bg-toggle: #292929;
}
